body {
	background-color: dimgrey;
	margin: auto;
	text-align: center;
	width: 600px;
}

body > * {
	background-color: lightgrey;
	border-radius: 10px;
	box-shadow: inset 0 0 5px dimgrey;
	margin: 20px;
	padding: 30px;
}

body .header {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	box-shadow: inset 0 5px 5px lightgrey, inset 0 0 5px dimgrey;
	margin-top: 0;
}
